In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('final_movies_data_clean.csv')

In [6]:
df[df['director'] == 'Oren Peli']

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies,popularity_category
3161,15000.0,23827,English,Paranormal Activity,"After a young, middle class couple moves into ...",47,2007-09-14,193355800,86.0,Released,...,1316,193340800,"['Horror', 'Mystery']",Horror,12889.386667,Oren Peli,Blockbuster,USA,"Blumhouse Productions, Solana Films",Medium

In [7]:
df[df['director'] == 'Daniel Myrick']

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies,popularity_category
3145,60000.0,2667,English,The Blair Witch Project,In October of 1994 three student filmmakers di...,42,1999-07-14,248000000,81.0,Released,...,1055,247940000,"['Horror', 'Mystery']",Horror,4132.333333,Daniel Myrick,Blockbuster,USA,"Artisan Entertainment, Haxan Films",Medium

In [7]:
movies.shape

(3212, 26)

In [9]:
movies

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,...,vote_average,vote_count,profit,genre_list,primary_genre,roi,cast,crew,director,movie_verdict
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,7.2,11800,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",James Cameron,Blockbuster
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,6.9,4500,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Gore Verbinski,Super Hit
2,245000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",...,6.3,4466,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Sam Mendes,Super Hit
3,250000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,7.6,9106,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Christopher Nolan,Blockbuster
4,260000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,6.1,2124,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",Andrew Stanton,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3207,31192.0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",42151,"[{""id"": 9826, ""name"": ""murder""}, {""id"": 10123,...",en,Down Terrace,After serving jail time for a mysterious crime...,1.330379,[],"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",...,6.3,26,-21192,"['Drama', 'Action', 'Comedy']",Drama,-0.679405,"[{""cast_id"": 4, ""character"": ""Bill"", ""credit_i...","[{""credit_id"": ""52fe45f0c3a36847f80e3327"", ""de...",Ben Wheatley,Flop
3208,27000.0,"[{""id"": 35, ""name"": ""Comedy""}]",2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,7.4,755,3124130,['Comedy'],Comedy,115.708519,"[{""cast_id"": 7, ""character"": ""Dante Hicks"", ""c...","[{""credit_id"": ""52fe434ac3a36847f8049253"", ""de...",Kevin Smith,Blockbuster
3209,12000.0,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,6.2,110,5988000,"['Horror', 'Comedy', 'Crime']",Horror,499.000000,"[{""cast_id"": 8, ""character"": ""Divine / Babs Jo...","[{""credit_id"": ""52fe426bc3a36847f801d203"", ""de...",John Waters,Blockbuster
3210,20000.0,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",...,7.4,63,79000,"['Crime', 'Horror', 'Mystery', 'Thriller']",Crime,3.950000,"[{""cast_id"": 3, ""character"": ""Kenichi Takabe"",...","[{""credit_id"": ""52fe45cc9251416c9103eb7b"", ""de...",Kiyoshi Kurosawa,Blockbuster
3211,220000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",...,6.6,238,1820920,"['Action', 'Crime', 'Thriller']",Action,8.276909,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",Robert Rodriguez,Blockbuster

In [10]:
movies.to_excel('final_movies_data_clean.xlsx', index=False)

In [11]:
df = movies

In [12]:
df.shape

(3212, 26)

In [13]:
import ast

country_map = {
    'United States of America': 'USA',
    'United Kingdom': 'UK',
    'India': 'India',
    'France': 'France',
    'Germany': 'Germany',
    'Canada': 'Canada',
    'Japan': 'Japan',
    'China': 'China'
}

def clean_country(country_text):
    try:
        countries = ast.literal_eval(country_text)
        names = [country_map.get(c['name'], c['name']) for c in countries]
        return ', '.join(names[:2])   # keep max 2
    except:
        return None

In [14]:
df['country_clean'] = df['production_countries'].apply(clean_country)

In [15]:
def clean_company(company_text):
    try:
        companies = ast.literal_eval(company_text)
        names = []
        for c in companies[:2]:
            short_name = ' '.join(c['name'].split()[:2])
            names.append(short_name)
        return ', '.join(names)
    except:
        return None

In [16]:
df['production_company_clean'] = df['production_companies'].apply(clean_company)

In [17]:
df[['production_countries', 'country_clean',
    'production_companies', 'production_company_clean']].head()

,production_countries,country_clean,production_companies,production_company_clean
0,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","USA, UK","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","Ingenious Film, Twentieth Century"
1,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",USA,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","Walt Disney, Jerry Bruckheimer"
2,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","UK, USA","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","Columbia Pictures, Danjaq"
3,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",USA,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","Legendary Pictures, Warner Bros."
4,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",USA,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",Walt Disney

In [18]:
df.drop(columns=['production_countries', 'production_companies'], inplace=True)

In [19]:
df.rename(
    columns={
        'country_clean': 'production_countries',
        'production_company_clean': 'production_companies'
    },
    inplace=True
)

In [20]:
df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,release_date,revenue,...,profit,genre_list,primary_genre,roi,cast,crew,director,movie_verdict,production_countries,production_companies
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,...,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century"
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,...,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer"
2,245000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,...,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq"
3,250000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,...,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros."
4,260000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,...,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",Andrew Stanton,Average,USA,Walt Disney

In [23]:
df_clean = df.drop(columns=[
    'genres', 'keywords',
    'spoken_languages', 'cast', 'crew'
])

In [24]:
df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,release_date,revenue,...,profit,genre_list,primary_genre,roi,cast,crew,director,movie_verdict,production_countries,production_companies
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,...,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century"
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,...,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer"
2,245000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,...,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq"
3,250000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,...,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros."
4,260000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,...,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",Andrew Stanton,Average,USA,Walt Disney

In [25]:
cols_to_drop = [
    'genres', 'keywords',
    'spoken_languages', 'cast', 'crew'
]

df_clean = df.drop(
    columns=[c for c in cols_to_drop if c in df.columns]
)

In [27]:
df_clean.columns

Index(['budget', 'id', 'original_language', 'original_title', 'overview',
       'popularity', 'release_date', 'revenue', 'runtime', 'status', 'title',
       'vote_average', 'vote_count', 'profit', 'genre_list', 'primary_genre',
       'roi', 'director', 'movie_verdict', 'production_countries',
       'production_companies'],
      dtype='object')

In [28]:
df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,release_date,revenue,...,profit,genre_list,primary_genre,roi,cast,crew,director,movie_verdict,production_countries,production_companies
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,...,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century"
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,...,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer"
2,245000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,...,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq"
3,250000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,...,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros."
4,260000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,...,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",Andrew Stanton,Average,USA,Walt Disney

In [29]:
df.drop(
    columns=[c for c in cols_to_drop if c in df.columns],
    inplace=True
)

In [30]:
df.columns

Index(['budget', 'id', 'original_language', 'original_title', 'overview',
       'popularity', 'release_date', 'revenue', 'runtime', 'status', 'title',
       'vote_average', 'vote_count', 'profit', 'genre_list', 'primary_genre',
       'roi', 'director', 'movie_verdict', 'production_countries',
       'production_companies'],
      dtype='object')

In [31]:
df.head()

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_average,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies
0,237000000.0,19995,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,...,7.2,11800,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century"
1,300000000.0,285,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,...,6.9,4500,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer"
2,245000000.0,206647,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,...,6.3,4466,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq"
3,250000000.0,49026,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,...,7.6,9106,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros."
4,260000000.0,49529,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,...,6.1,2124,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,Andrew Stanton,Average,USA,Walt Disney

In [33]:
df['original_language'].value_counts()

original_language
en    3087
fr      25
es      15
ja      13
zh      13
de       9
hi       7
ru       6
cn       5
ko       5
it       5
da       4
pt       2
nl       2
id       2
th       2
te       1
xx       1
nb       1
af       1
he       1
pl       1
vi       1
ro       1
no       1
fa       1
Name: count, dtype: int64

In [34]:
language_map = {
    'en': 'English',
    'fr': 'French',
    'es': 'Spanish',
    'ja': 'Japanese',
    'zh': 'Chinese',
    'de': 'German',
    'hi': 'Hindi',
    'ru': 'Russian',
    'cn': 'Chinese',
    'ko': 'Korean',
    'it': 'Italian',
    'da': 'Danish',
    'pt': 'Portuguese',
    'nl': 'Dutch',
    'id': 'Indonesian',
    'th': 'Thai',
    'te': 'Telugu',
    'xx': 'Unknown',
    'nb': 'Norwegian',
    'af': 'Afrikaans',
    'he': 'Hebrew',
    'pl': 'Polish',
    'vi': 'Vietnamese',
    'ro': 'Romanian',
    'no': 'Norwegian',
    'fa': 'Persian'
}

In [35]:
df['original_language'] = df['original_language'].map(
    lambda x: language_map.get(x, x)
)

In [36]:
df.head()

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_average,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies
0,237000000.0,19995,English,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,...,7.2,11800,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century"
1,300000000.0,285,English,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,...,6.9,4500,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer"
2,245000000.0,206647,English,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,...,6.3,4466,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq"
3,250000000.0,49026,English,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,...,7.6,9106,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros."
4,260000000.0,49529,English,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,...,6.1,2124,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,Andrew Stanton,Average,USA,Walt Disney

In [37]:
df['popularity'].mean()

np.float64(29.154243964508094)

In [38]:
avg_popularity_int = int(df['popularity'].mean().round())
avg_popularity_int

29

In [39]:
df.head()

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_average,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies
0,237000000.0,19995,English,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,...,7.2,11800,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century"
1,300000000.0,285,English,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,...,6.9,4500,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer"
2,245000000.0,206647,English,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,...,6.3,4466,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq"
3,250000000.0,49026,English,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,...,7.6,9106,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros."
4,260000000.0,49529,English,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,...,6.1,2124,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,Andrew Stanton,Average,USA,Walt Disney

In [40]:
df['popularity'] = df['popularity'].round().astype(int)

In [41]:
df.head()

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_average,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies
0,237000000.0,19995,English,Avatar,"In the 22nd century, a paraplegic Marine is di...",150,2009-12-10,2787965087,162.0,Released,...,7.2,11800,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century"
1,300000000.0,285,English,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139,2007-05-19,961000000,169.0,Released,...,6.9,4500,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer"
2,245000000.0,206647,English,Spectre,A cryptic message from Bond’s past sends him o...,107,2015-10-26,880674609,148.0,Released,...,6.3,4466,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq"
3,250000000.0,49026,English,The Dark Knight Rises,Following the death of District Attorney Harve...,112,2012-07-16,1084939099,165.0,Released,...,7.6,9106,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros."
4,260000000.0,49529,English,John Carter,"John Carter is a war-weary, former military ca...",44,2012-03-07,284139100,132.0,Released,...,6.1,2124,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,Andrew Stanton,Average,USA,Walt Disney

In [42]:
def popularity_category(value):
    if value < 10:
        return 'Very Low'
    elif value < 30:
        return 'Low'
    elif value < 60:
        return 'Medium'
    elif value < 100:
        return 'High'
    else:
        return 'Very High'

In [43]:
df['popularity_category'] = df['popularity'].apply(popularity_category)

In [44]:
df.head()

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies,popularity_category
0,237000000.0,19995,English,Avatar,"In the 22nd century, a paraplegic Marine is di...",150,2009-12-10,2787965087,162.0,Released,...,11800,2550965087,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",Action,10.763566,James Cameron,Blockbuster,"USA, UK","Ingenious Film, Twentieth Century",Very High
1,300000000.0,285,English,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139,2007-05-19,961000000,169.0,Released,...,4500,661000000,"['Adventure', 'Fantasy', 'Action']",Adventure,2.203333,Gore Verbinski,Super Hit,USA,"Walt Disney, Jerry Bruckheimer",Very High
2,245000000.0,206647,English,Spectre,A cryptic message from Bond’s past sends him o...,107,2015-10-26,880674609,148.0,Released,...,4466,635674609,"['Action', 'Adventure', 'Crime']",Action,2.594590,Sam Mendes,Super Hit,"UK, USA","Columbia Pictures, Danjaq",Very High
3,250000000.0,49026,English,The Dark Knight Rises,Following the death of District Attorney Harve...,112,2012-07-16,1084939099,165.0,Released,...,9106,834939099,"['Action', 'Crime', 'Drama', 'Thriller']",Action,3.339756,Christopher Nolan,Blockbuster,USA,"Legendary Pictures, Warner Bros.",Very High
4,260000000.0,49529,English,John Carter,"John Carter is a war-weary, former military ca...",44,2012-03-07,284139100,132.0,Released,...,2124,24139100,"['Action', 'Adventure', 'Science Fiction']",Action,0.092843,Andrew Stanton,Average,USA,Walt Disney,Medium

In [55]:
df.to_excel('final_movies_data_clean.xlsx', index=False)

In [56]:
df.to_csv('final_movies_data_clean.csv', index=False)

In [52]:
df[df['original_language'] == 'Hindi']

,budget,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,...,vote_count,profit,genre_list,primary_genre,roi,director,movie_verdict,production_countries,production_companies,popularity_category
2419,7400000.0,14395,Hindi,कभी अलविदा ना कहना,Dev and Maya are both married to different peo...,3,2006-08-11,17000000,193.0,Released,...,42,9600000,"['Drama', 'Romance']",Drama,1.297297,Karan Johar,Hit,India,"Yash Raj, Dharma Productions",Very Low
2565,7700000.0,185008,Hindi,Yeh Jawaani Hai Deewani,Yeh Jawaani Hai Deewani features two polar opp...,3,2013-05-31,46000000,159.0,Released,...,79,38300000,['Romance'],Romance,4.974026,Ayan Mukherjee,Blockbuster,India,Dharma Productions,Very Low
2647,7000000.0,4251,Hindi,Veer-Zaara,The story of the love between Veer Pratap Sing...,4,2004-11-12,29385320,192.0,Released,...,64,22385320,"['Drama', 'Romance']",Drama,3.197903,Yash Chopra,Blockbuster,India,Yash Raj,Very Low
2737,2200000.0,7913,Hindi,Rang De Basanti,"A young idealistic English filmmaker, Sue, arr...",5,2006-01-26,11502151,157.0,Released,...,97,9302151,['Drama'],Drama,4.228250,Rakeysh Omprakash Mehra,Blockbuster,India,"Flicks Motion, UTV Motion",Very Low
2827,4500000.0,375290,Hindi,Airlift,"When Iraq invades Kuwait in August, 1990, a ca...",3,2016-01-22,32000000,126.0,Released,...,57,27500000,"['Thriller', 'Action', 'Drama', 'History']",Thriller,6.111111,Raja Menon,Blockbuster,India,"T-Series, Hari Om",Very Low
3047,1000000.0,191714,Hindi,Dabba,A mistaken delivery in Mumbai's famously effic...,14,2013-09-19,4235151,104.0,Released,...,221,3235151,"['Drama', 'Romance']",Drama,3.235151,Ritesh Batra,Blockbuster,"India, France",UTV Motion,Low
3116,1000000.0,56666,Hindi,Fiza,In 1993 Fiza's brother disappears during the r...,0,2000-09-08,623791,170.0,Released,...,7,-376209,"['Drama', 'Foreign', 'Romance']",Drama,-0.376209,Khalid Mohammed,Flop,India,Unknown,Very Low

In [48]:
import numpy as np

df.replace('', np.nan, inplace=True)

In [49]:
cat_cols = df.select_dtypes(include='object').columns

df[cat_cols] = df[cat_cols].fillna('Unknown')

In [51]:
df.isnull().sum()

budget                  0
id                      0
original_language       0
original_title          0
overview                0
popularity              0
release_date            0
revenue                 0
runtime                 0
status                  0
title                   0
vote_average            0
vote_count              0
profit                  0
genre_list              0
primary_genre           0
roi                     0
director                0
movie_verdict           0
production_countries    0
production_companies    0
popularity_category     0
dtype: int64